//btn-color -
$texto-btn-primario: hsl(356, 100%, 66%);
$hover-bg-primario: hsl(355, 100%, 74%);
$hover-texto-primario:hsl(0, 0%, 100%);
$bg-btn-primario: hsl(0, 0%, 100%);

//btn-color -
$texto-btn-secundario:hsl(0, 0%, 100%);
$hover-bg-secundario:hsl(0, 0%, 100%);
$hover-btn-secundario:hsl(356, 100%, 66%);

//color links
$texto-link-color:hsl(0, 0%, 100%);
$texto-link-light:hsl(0, 0%, 100%);

//familia de fontes
$fonte-primaria: "Overpass", sans-serif;
$fonte-secundaria: "Ubuntu", sans-serif;



$cor-texto-titulos: hsl(208, 49%, 24%);
$cor-texto-primario: hsl(0, 0%, 100%);

$cor-texto-secundario: hsl(240, 2%, 79%);
$color-body: hsl(207, 13%, 34%);
$bg-fundo-rodape: hsl(240, 10%, 16%);

$color-nav: #ff8f70;
$color-btn-texto: #ff3d54;

$gradiente-bg: #2c2d3f;
$grandiente-color: hsl(237, 23%, 32%);
